.card-lite {
    background-color: #fff;
    display: grid;
    gap: 12px;
    border: 1px solid forestgreen;
    padding: 12px;
    border-radius: 8px;
    grid-template-rows: 120px auto 1fr 30px;
    align-content: flex-start;
}
.card-lite h4 {
    margin: 0;
}
.card-lite p {
    margin: 0;
}
.card-lite img {
    height: 100%;
    justify-self: center;
}
