header {
    background: #FFE44D;
    padding: 12px 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
header .search-block {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header__menu,
.header__menu>span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__menu>span>* {
    cursor: pointer;
}
.header__menu svg:hover{
    fill: blue;
}

@media (min-width: 576px) {
    header {
        flex-wrap: nowrap;
    }
    header .search-block {
        order: 0;
        width: auto;
    }
  }