footer {
    background-color: yellow;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
}
.footer__copy{
    display: grid;
    align-content: space-between;
}
.footer__nav{
    display: grid;
    gap: 10px;
}
.footer__nav a:hover{
    color: blue;
}